<div class="card" style="width: 18rem;">
  {% if image %}
  <img src="{{ image }}" class="card-img-top" alt="{{ title }}" loading="lazy">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text text-muted">{{ metadata }}</p>
    <p class="card-text">{{ description }}</p>
    <a href="{{ url }}" class="btn btn-primary">Read More</a>
  </div>
</div>
