<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title | default: metadata.title }}</title>
		<meta name="description" content="{{ description | default: metadata.description }}">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

		<!-- Include Bootstrap CSS -->
		<link rel="stylesheet" href="/css/bootstrap.css">

		<!-- Include Bootstrap JS -->
		<script src="/js/bootstrap.bundle.min.js" defer></script>

		<!-- Add viewport meta tag -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Use async loading for web fonts -->
		<link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" as="style">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

		{% comment %} Uncomment this if you’d like folks to know that you used Eleventy to build your site! {% endcomment %}
		{% comment %} <meta name="generator" content="{{ eleventy.generator }}"> {% endcomment %}

		{% comment %}
		Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. CSS:
			* Add to a per-page bundle using `{% css %}{% endcss %}`
			* Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		2. Or for JavaScript:
			* Add to a per-page bundle using `{% js %}{% endjs %}`
			* Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
		3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		{% endcomment %}
	</head>
	<body>
		<!-- Include Navbar -->
		{% include "components/navbar.liquid" %}
		<!-- Include Sidebar -->
		{% include "components/sidebar.liquid" %}
		<div class="container-lg">
			{{ content }}
		</div>
		<!-- Include Footer -->
		{% include "components/footer.liquid" %}
	</body>
</html>
